.grid {
	width:1010px;
	height: 610px;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	border-color: black;

}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("troll.jpg");
	background-size cover;
}

.head {
	text-align: center;
	color:whitesmoke;
	border-style: solid;
	border-color: chartreuse;
	
}

.troll {
	font-size: 32px;
	text-decoration: underline overline;
	
}